[Unit]
Description=DASH Gateway Wifi Setup
After=network.target

[Service]
Type=simple
User=pi
StandardOutput=journal
StandardError=journal
# Edit this line, if needed, to specify where you installed the server
WorkingDirectory=/home/pi/gateway-wifi-setup
# Edit this line, if needed, to set the correct path to node
ExecStart=/home/pi/gateway-wifi-setup/run.sh 

[Install]
WantedBy=multi-user.target
